<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://www.vonq.com/assets/uploads/2018/03/cropped-favicon-v2-1-32x32.png" sizes="32x32" />
    <link rel="icon" href="https://www.vonq.com/assets/uploads/2018/03/cropped-favicon-v2-1-192x192.png" sizes="192x192" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<!-- As a link -->
<nav class="navbar navbar-light text-right" style="background-color: #d72027;">
    <a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset('assets/vonqonnect_navbar.png') }}"></a>
    <h1 class="text-white">Welcome {{ app.user.email }}</h1>
    <a href="{{ path('connection.list_all_users') }}" class="text-white">List All Users</a>
    <a href="{{ path('connection.list_user_connections') }}" class="text-white">List My Connections</a>
    <a href="{{ path('app_logout') }}" class="text-white">Logout</a>
</nav>

<div class="container">
    {% block body %}

    {% endblock %}
</div>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

{% block javascripts %}{% endblock %}
</body>
</html>
