{% extends('home.html.twig') %}
{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>List of all users</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="datatable">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {# @var user \App\Entity\User #}
                        {% for user in users %}
                            <tr>
                                <td>
                                    {{ user.email }}
                                </td>
                                <td>
                                    {% set found = false %}
                                    {% for connection in user.userConnections %}
                                        {% if connection.userId == app.user.id %}
                                            {{ connection.status | status_description }}
                                            {% set found = true %}
                                        {% endif %}
                                    {% endfor %}

                                    {% if not found %}
                                        {{ (-1) | status_description }}
                                    {% endif %}

                                </td>
                                <td>
                                    {% set found = false %}
                                    {% for connection in user.userConnections %}
                                        {% if connection.userId == app.user.id %}
                                            {% if connection.status == constant('App\\Entity\\UserConnection::CONNECTED') or connection.status == constant('App\\Entity\\UserConnection::PENDING') %}
                                                <button class="btn btn-danger remove_connection" data-user="{{ app.user.id }}" data-connection="{{ user.id }}">Remove</button>
                                                {% set found = true %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if not found %}
                                        <button class="btn btn-success add_connection" data-user="{{ app.user.id }}" data-connection="{{ user.id }}">Add</button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {% include('common/datatables.html.twig') %}

    <script>
		$( document ).ready(function() {
			$('.add_connection').on('click', function(e){
				var thisButton = $(this);
                var userId = $(this).data("user");
                var connectionId = $(this).data("connection");

				$(this).text('Adding...');
				$.ajax({
					url : "/connection/add-connection-to-user/" + connectionId,
					type: "post",
					data: {
						'user_id': userId,
						'connection_id': connectionId
					},
                    success: function (data) {
						thisButton.replaceWith('Pending');
					},
                    fail: function (data) {
						thisButton.replaceWith('Error');
					}
				});

            });

			$('.remove_connection').on('click', function(e){
				var thisButton = $(this);
				var userId = $(this).data("user");
				var connectionId = $(this).data("connection");

				$(this).text('Removing...');
				$.ajax({
					url : "/connection/remove-connection-from-user/" + connectionId,
					type: "post",
					data: {
						'user_id': userId,
						'connection_id': connectionId
					},
					success: function (data) {
						thisButton.replaceWith('Removed');
					},
					fail: function (data) {
						thisButton.replaceWith('Error');
					}
				});

			});
		});
    </script>
{% endblock %}